node_modules/
.next/
/.env
.env.local
.env.*.local
.vscode/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
/.idea/
/.DS_Store
.reacher_tmp/
*.sqlite
*.db
package-lock.json